// warna untuk section skill
@use "variabel";
.border {
  // untuk warna border
  &-orange {
    border-color: rgb(177, 115, 2) !important;
  }
  &-biru-tua {
    border-color: blue !important;
  }
  &-bootstrap {
    border-color: #7952b3 !important;
  }
  &-green {
    border-color: green !important;
  }
  &-dark-red {
    border-color: rgb(128, 0, 28) !important;
  }
  &-pink-sass {
    border-color: #bf4080 !important;
  }
  &-my-primary {
    border-color: variabel.$myColor !important;
  }
  &-umsida {
    border-color: #08315f !important;
  }
}
.bg {
  // untuk warna background
  &-orange {
    background-color: rgb(177, 115, 2) !important;
  }
  &-umsida {
    background-color: #08315f !important;
  }
  &-biru-tua {
    background-color: blue !important;
  }
  &-bootstrap {
    background-color: #7952b3 !important;
  }
  &-green {
    background-color: green !important;
  }
  &-dark-red {
    background-color: rgb(128, 0, 28) !important;
  }
  &-pink-sass {
    background-color: #bf4080 !important;
  }
  &-my-primary {
    background-color: variabel.$myColor !important;
  }
}
.text {
  &-my-primary {
    color: variabel.$myColor !important;
  }
}
