.my-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #8a2be2;
  height: 60px;
  a.logo,
  ul > li > a {
    text-decoration: none;
  }
  li a {
    color: rgb(211, 211, 211);
  }
  li.active a,
  li a:hover {
    color: rgb(255, 255, 255);
    font-weight: 500;
  }
}
a.logo {
  font-size: 25px;

  color: white;
}

.my-menu {
  display: flex;
  list-style-type: none;
  width: 50%;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
.hamburger-menu {
  display: none;
  width: 30px;
  height: 30px;
  justify-content: space-around;
  flex-direction: column;
  cursor: pointer;
  span {
    display: block;
    background-color: white;
    height: 4px;
    transition: 0.5s ease-in;
    border-radius: 5px;
  }
  &.show-menu {
    span:nth-child(1) {
      transform: rotate(45deg) translate(0.5px, 16px);
    }
    span:nth-child(2) {
      opacity: 0;
    }
    span:nth-child(3) {
      transform: rotate(-45deg) translate(-1.5px, -14px);
    }
  }
}

section {
  $fontText: calc(2vw + 250px);
  // background-color: white;
  // color: black;
  &:nth-child(2n + 1) {
    background-color: blueviolet !important;
    color: white !important;
  }

  //   section introduction
  &#introduction {
    img {
      width: $fontText;
      height: $fontText;
    }
    .col:nth-child(1) {
      font-size: calc(3vw + 8px);
      .text-typed {
        font-weight: bold;
        color: black;
        text-shadow: -1px 1px 0 white, 1px 1px 0 white, 1px -1px 0 white,
          -1px -1px 0 white;
      }
    }
  }
}
