@media (max-width: 569px) {
  // .my-nav,

  .my-menu {
    padding: 0 12px;
  }

  .my-nav {
    justify-content: space-between;
  }

  .my-menu {
    // align-items: flex-start;
    flex-wrap: nowrap;
  }

  section {
    &.introduction::before {
      background-position-x: 90%;
    }
  }
}
