@media (max-width: 569px) {
  .my-nav,
  .my-menu {
    padding: 0 12px;
  }
  .my-nav {
    justify-content: space-between;
  }
  .my-menu {
    align-items: flex-start;
  }
  section {
    &.introduction::before {
      background-size: 70vmax;
    }
    &#experience {
      .row {
        flex-wrap: nowrap;
        justify-content: flex-start;
      }
    }
  }
}
