@use 'variabel';
@media (max-width: 768px) {
  .my-backdrop {
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: -9999;
    top: 0;

    bottom: 0;
    left: 0;
    right: 0;
    transition: 0.5s ease-in;
    &.show-menu {
      opacity: 1;
      z-index: 9999;
    }
  }
  // .my-nav .container {
  //   justify-content: space-around;
  // }
  .dropdown.bahasa {
    button {
      background-color: variabel.$myColor;
      color: white;
      border: 2px solid variabel.$myColor;
      transition: 0.5 ease;
      font-weight: bold;
      &:hover {
        background-color: transparent;
        color: variabel.$myColor;
      }
    }
  }
  .my-menu {
    &.show-menu {
      right: 0;
      opacity: 0.9;
    }

    transition: 0.5s;
    flex-direction: column;
    position: fixed;
    z-index: 99991;
    align-items: center;
    justify-content: space-evenly;
    top: 60px;
    right: -100%;
    width: 100%;
    bottom: 0;

    background-color: white;

    li {
      a.link-menu {
        color: variabel.$myColor;
        font-weight: bold;
        // &,
        // &.nav-link:focus {
        //   color: variabel.$myColor;
        //   font-weight: bold;
        // }
        // &:hover,
        // &.active {
        //   padding: 10px;
        //   background-color: variabel.$myColor !important;
        //   color: white;
        //   border-radius: 5px;
        // }
      }
    }
  }
  .hamburger-menu {
    display: flex;
  }

  section {
    &.introduction {
      .first-row {
        flex-direction: column-reverse;
      }
    }
    &#about {
      .row.right-image > *,
      .row.left-image > * {
        margin: 10px 0;
      }
      .row.right-image {
        flex-direction: column;
        align-items: center;
      }
      .row.left-image {
        justify-content: center;
      }
    }
  }
}
