@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
.border-orange {
  border-color: #b17302 !important;
}
.border-biru-tua {
  border-color: blue !important;
}
.border-bootstrap {
  border-color: #7952b3 !important;
}
.border-green {
  border-color: green !important;
}
.border-dark-red {
  border-color: #80001c !important;
}
.border-pink-sass {
  border-color: #bf4080 !important;
}

.bg-orange {
  background-color: #b17302 !important;
}
.bg-biru-tua {
  background-color: blue !important;
}
.bg-bootstrap {
  background-color: #7952b3 !important;
}
.bg-green {
  background-color: green !important;
}
.bg-dark-red {
  background-color: #80001c !important;
}
.bg-pink-sass {
  background-color: #bf4080 !important;
}

.my-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #8a2be2;
  height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99992;
}
.my-nav a.logo,
.my-nav ul > li > a {
  text-decoration: none;
}
.my-nav li a {
  color: white;
  font-weight: 500;
}

a.logo {
  font-size: 25px;
  color: white;
}

.my-menu {
  display: flex;
  list-style-type: none;
  width: 55vmax;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.hamburger-menu {
  display: none;
  width: 30px;
  height: 30px;
  justify-content: space-around;
  flex-direction: column;
  cursor: pointer;
}
.hamburger-menu span {
  display: block;
  background-color: white;
  height: 4px;
  transition: 0.5s ease-in;
  border-radius: 5px;
}
.hamburger-menu.show-menu span:nth-child(1) {
  transform: rotate(45deg) translate(10px, -5px);
  width: 70%;
}
.hamburger-menu.show-menu span:nth-child(3) {
  width: 70%;
  transform: rotate(-45deg) translate(10px, 5px);
}

.progress {
  background-color: white !important;
}

section {
  overflow-x: hidden;
}
section.violet {
  background-color: #8a2be2;
  color: white;
}
section span.line-mark-title {
  position: relative;
  font-weight: 500;
}
section span.line-mark-title::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  left: 0;
  bottom: -5px;
  height: 3px;
  border-radius: 3px;
  background-color: #8a2be2;
}
section span.mark-title {
  color: #8a2be2;
}
section.violet span.mark-title {
  color: white;
}
section.violet .owl-theme .owl-dots .owl-dot.active span,
section .owl-theme .owl-dots .owl-dot:hover span {
  background-color: black !important;
}
section .owl-theme .owl-dots .owl-dot.active span,
section .owl-theme .owl-dots .owl-dot:hover span {
  background-color: #8a2be2 !important;
}
section.violet span.line-mark-title::after {
  background-color: white !important;
}
section .btn-violet {
  background-color: #8a2be2;
  color: white;
  border: 2px solid #8a2be2;
  transition: 0.5 ease;
  font-weight: 500;
}
section .btn-violet:hover {
  background-color: transparent;
  color: #8a2be2;
}
section.introduction {
  height: calc(100vh - 60px);
  margin-top: 60px;
  display: flex;
  position: relative;
  justify-content: space-around;
  flex-direction: column;
}
section.introduction .container,
section.introduction .container-cv {
  position: relative;
}
section.introduction img {
  width: calc(100vw / 10 + 100px);
  height: calc(100vw / 10 + 100px);
}
section.introduction .text-introducing {
  font-size: calc(3vw + 8px);
  font-weight: 500;
}
section.introduction .text-introducing .text-typed,
section.introduction .text-introducing .my-name {
  font-weight: bold !important;
  color: black;
  text-shadow: -1px 1px 0 white, 1px 1px 0 white, 1px -1px 0 white, -1px -1px 0 white;
}
section.introduction .text-introducing .my-name {
  font-size: calc(3vw + 25px);
}
section.introduction::before {
  content: "";
  position: absolute;
  background-image: url(../image/Programmer-rafiki.png);
  background-repeat: no-repeat;
  background-size: 50vmax;
  background-position-x: right;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
section#about {
  padding-bottom: 30px;
}
section#about .value-about {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}
section#about .row.right-image {
  flex-direction: row-reverse;
}
section#experience .card {
  color: black !important;
}
section#skill .row .column-skill {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 10px 0;
}
section#skill .row .column-skill > * {
  margin: 5px 0;
}
section#skill .row .column-skill .title-skill {
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
}
section#skill .row .column-skill .description-title {
  font-size: 12px;
  font-weight: 500;
}
section.footer .row > * {
  margin: 20px 0;
}
section.footer .sosial-media {
  display: flex;
  justify-content: space-evenly;
}
section.footer .sosial-media .cover {
  background-color: white;
  width: calc(2vw + 40px);
  height: calc(2vw + 40px);
}
section.footer .sosial-media .cover,
section.footer .sosial-media .cover img {
  border-radius: 50%;
}
section.footer .sosial-media .cover:hover {
  transform: scale(1.1);
}

@media (max-width: 992px) {
  section.introduction::before {
    background-size: cover;
    background-position: center;
    opacity: 0.4;
  }
}
@media (max-width: 768px) {
  .my-backdrop {
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: -9999;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: 0.5s ease-in;
  }
  .my-backdrop.show-menu {
    opacity: 1;
    z-index: 9999;
  }

  .my-nav {
    justify-content: space-around;
  }

  .my-menu {
    transition: 0.5s;
    flex-direction: column;
    position: fixed;
    z-index: 99991;
    align-items: center;
    justify-content: space-evenly;
    top: 60px;
    right: -100%;
    width: 100%;
    bottom: 0;
    background-color: white;
  }
  .my-menu.show-menu {
    right: 0;
    opacity: 0.9;
  }
  .my-menu li a {
    color: #8a2be2;
    font-weight: bold;
  }

  .hamburger-menu {
    display: flex;
  }

  section.introduction .first-row {
    flex-direction: column-reverse;
  }
  section#about .row.right-image > *,
section#about .row.left-image > * {
    margin: 10px 0;
  }
  section#about .row.right-image {
    flex-direction: column;
    align-items: center;
  }
  section#about .row.left-image {
    justify-content: center;
  }
}
@media (max-width: 569px) {
  .my-nav,
.my-menu {
    padding: 0 12px;
  }

  .my-nav {
    justify-content: space-between;
  }

  .my-menu {
    align-items: flex-start;
  }

  section.introduction::before {
    background-size: 70vmax;
  }
  section#experience .row {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
}
* {
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #eee;
}

/*# sourceMappingURL=style.css.map */
