@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@600&display=swap");
.border-orange {
  border-color: rgb(177, 115, 2) !important;
}
.border-biru-tua {
  border-color: blue !important;
}
.border-bootstrap {
  border-color: #7952b3 !important;
}
.border-green {
  border-color: green !important;
}
.border-dark-red {
  border-color: rgb(128, 0, 28) !important;
}
.border-pink-sass {
  border-color: #bf4080 !important;
}
.border-my-primary {
  border-color: #8a2be2 !important;
}
.border-umsida {
  border-color: #08315f !important;
}

.bg-orange {
  background-color: rgb(177, 115, 2) !important;
}
.bg-umsida {
  background-color: #08315f !important;
}
.bg-biru-tua {
  background-color: blue !important;
}
.bg-bootstrap {
  background-color: #7952b3 !important;
}
.bg-green {
  background-color: green !important;
}
.bg-dark-red {
  background-color: rgb(128, 0, 28) !important;
}
.bg-pink-sass {
  background-color: #bf4080 !important;
}
.bg-my-primary {
  background-color: #8a2be2 !important;
}

.text-my-primary {
  color: #8a2be2 !important;
}

.my-nav {
  background-color: #8a2be2;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99992;
}
.my-nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}
.my-nav.box-shadow {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
}
.my-nav a.logo,
.my-nav ul > li > a {
  text-decoration: none;
}
.my-nav li a {
  font-weight: 500;
  color: rgb(206, 206, 206);
}
.my-nav li a.active, .my-nav li a:hover {
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.alert {
  display: none;
}
.alert.show {
  display: block;
}

.to-top {
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-size: 45px;
  cursor: pointer;
  z-index: -999999;
  opacity: 0;
  transition: 0.5s;
  background-color: white;
}
.to-top.show {
  opacity: 1;
  z-index: 9999;
}

.dropdown.bahasa button {
  font-weight: 500;
}
.dropdown.bahasa ul > li > a {
  color: #8a2be2;
  cursor: pointer;
}
.dropdown.bahasa ul > li > a:hover, .dropdown.bahasa ul > li > a.active {
  background-color: #8a2be2;
  color: white;
}

a.logo {
  font-size: 35px;
  font-weight: 500;
  font-family: "Fira Code", monospace;
  color: white;
}

.my-menu {
  display: flex;
  list-style-type: none;
  width: 50vmax;
  flex-wrap: wrap-reverse;
  align-items: center;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.hamburger-menu {
  display: none;
  width: 30px;
  height: 30px;
  justify-content: space-around;
  flex-direction: column;
  cursor: pointer;
}
.hamburger-menu span {
  display: block;
  background-color: white;
  height: 4px;
  transition: 0.5s ease-in;
  border-radius: 5px;
}
.hamburger-menu.show-menu span:nth-child(1) {
  transform: rotate(45deg) translate(10px, -5px);
  width: 70%;
}
.hamburger-menu.show-menu span:nth-child(3) {
  width: 70%;
  transform: rotate(-45deg) translate(10px, 5px);
}

.progress {
  background-color: white !important;
}

section {
  overflow: hidden;
}
section.violet {
  background-color: #dac3ef;
  color: black;
}
section span.line-mark-title {
  position: relative;
  font-weight: 500;
}
section span.line-mark-title::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  left: 0;
  bottom: -5px;
  height: 3px;
  border-radius: 3px;
  background-color: #8a2be2;
}
section span.mark-title {
  color: #8a2be2;
}
section.violet span.mark-title {
  color: white;
}
section.violet .owl-theme .owl-dots .owl-dot.active span {
  background-color: white !important;
  border: 2px solid white;
}
section.violet .owl-theme .owl-dots .owl-dot span, section.violet .owl-theme .owl-dots .owl-dot:hover span {
  background: transparent;
  border: 2px solid white;
}
section .owl-theme .owl-dots .owl-dot.active span {
  background-color: #8a2be2 !important;
  border: 2px solid #8a2be2;
}
section .owl-theme .owl-dots .owl-dot span,
section .owl-theme .owl-dots .owl-dot:hover span {
  background: transparent;
  border: 2px solid #8a2be2;
}
section.violet span.line-mark-title::after {
  background-color: black !important;
}
section .btn-violet {
  background-color: #8a2be2;
  color: white;
  border: 2px solid #8a2be2;
  transition: 0.5 ease;
  font-weight: 500;
}
section .btn-violet:hover {
  background-color: transparent;
  color: #8a2be2;
}
section .btn-outline-violet {
  background-color: transparent;
  color: #8a2be2;
  border: 2px solid #8a2be2;
  transition: background 0.5 ease;
  font-weight: 500;
}
section .btn-outline-violet:hover {
  background-color: #8a2be2;
  color: white;
}
section.introduction {
  height: 100vh;
  padding-top: 60px;
  display: flex;
  position: relative;
  justify-content: space-around;
  flex-direction: column;
}
section.introduction .container,
section.introduction .container-cv {
  position: relative;
}
section.introduction img {
  width: calc(10vw + 100px);
  height: calc(10vw + 100px);
}
section.introduction .text-introducing {
  font-size: calc(3vw + 8px);
  font-weight: 500;
}
section.introduction .text-introducing .text-typed,
section.introduction .text-introducing .my-name {
  font-weight: bold !important;
  color: black;
  text-shadow: -1px 1px 0 white, 1px 1px 0 white, 1px -1px 0 white, -1px -1px 0 white;
}
section.introduction .text-introducing .my-name {
  font-size: calc(3vw + 25px);
}
section.introduction::before {
  content: "";
  position: absolute;
  background-image: url(../image/human.webp);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: 90%;
  top: 100px;
  bottom: 0;
  left: 0;
  right: 0;
}
section .nav-tabs {
  border-bottom: 1px solid #dac3ef !important;
}
section .nav-tabs .nav-item.show .nav-link,
section .nav-tabs .nav-link.active {
  color: #8a2be2 !important;
  background-color: #eee !important;
  border-color: #dac3ef #dac3ef #eee !important;
}
section .nav-tabs .nav-link {
  white-space: nowrap;
  color: rgb(37, 37, 37) !important;
}
section .nav-tabs .nav-link:focus, section .nav-tabs .nav-link:hover {
  color: #8a2be2 !important;
  border-color: #dac3ef #dac3ef #eee !important;
  isolation: isolate;
}
section#about .nav-pills {
  overflow-x: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  padding-bottom: 1rem;
}
section#about .nav-pills::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
  display: none; /* Safari and Chrome */
}
section#about .nav-pills li {
  white-space: nowrap;
}
section#about .nav-pills li .nav-link {
  color: #8a2be2;
}
section#about .nav-pills li .nav-link.active {
  color: white;
  background-color: #8a2be2;
}
section#about .row.right-image {
  flex-direction: row-reverse;
}
section#about .tab-about {
  display: none;
}
section#about .cards-education {
  justify-content: center;
}
section#about .card-education {
  color: black;
  margin: 50px 15px 0;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  position: relative;
  border-radius: 5px;
  background: white;
}
section#about .card-education .gambar {
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
  transform: translate(10px, -50px);
}
section#about .card-education .text {
  margin-top: -30px;
}
section#about .card-education .text .title {
  font-size: 25px;
  font-weight: 500;
}
section#about .card-education .text .year {
  color: grey;
  font-size: 14px;
}
section#experience .parent-card {
  transition: 0.5s;
}
section#experience .parent-card .design-by {
  position: relative;
  z-index: 9999;
  font-size: 14px;
  color: gray;
}
section#experience .parent-card a.link-project {
  position: absolute;
  z-index: 999;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: background 0.5s ease, 0.5s ease;
  background-color: transparent;
  border-radius: 5px;
  color: white;
}
section#experience .parent-card a.link-project i {
  transition: 0.5s ease;
  opacity: 0;
  font-size: 2rem;
  transform: translateY(-2rem);
}
section#experience .parent-card:hover, section#experience .parent-card:focus {
  transform: translateY(-13px);
}
section#experience .parent-card:hover .design-by, section#experience .parent-card:focus .design-by {
  color: white !important;
}
section#experience .parent-card:hover .design-by a, section#experience .parent-card:focus .design-by a {
  color: white !important;
}
section#experience .parent-card:hover a.link-project, section#experience .parent-card:focus a.link-project {
  position: absolute;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.5);
}
section#experience .parent-card:hover a.link-project i, section#experience .parent-card:focus a.link-project i {
  opacity: 1;
  transform: translateY(0);
}
section#experience .card {
  border: none !important;
  background-color: transparent !important;
  color: black !important;
  position: relative;
}
section#skill .row .column-skill {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 10px 0;
}
section#skill .row .column-skill > * {
  margin: 5px 0;
}
section#skill .row .column-skill .title-skill {
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
}
section#skill .row .column-skill .description-title {
  font-size: 12px;
  font-weight: 500;
}
section.footer {
  background-color: #8a2be2 !important;
  overflow-y: hidden;
  color: white;
}
section.footer .row > * {
  margin: 20px 0;
}
section.footer .sosial-media {
  display: flex;
  justify-content: space-evenly;
}
section.footer .sosial-media .cover {
  background-color: white;
  width: calc(2vw + 40px);
  height: calc(2vw + 40px);
  max-width: 60px;
  max-height: 60px;
}
section.footer .sosial-media .cover,
section.footer .sosial-media .cover img {
  border-radius: 50%;
}

@media (max-width: 992px) {
  section.introduction::before {
    background-size: contain;
    background-position: center;
    opacity: 0.7;
  }
}
@media (max-width: 768px) {
  html.dark body .my-menu {
    background-color: #212529 !important;
  }
  html.dark body .my-menu li a.link-menu::after {
    background-color: white !important;
  }
  .dropdown.bahasa button {
    background-color: #8a2be2;
    color: white;
    border: 2px solid #8a2be2;
    transition: 0.5 ease;
    font-weight: bold;
  }
  .dropdown.bahasa button:hover {
    background-color: transparent;
    color: #8a2be2;
  }
  .my-menu {
    transition: 0.5s;
    flex-direction: column;
    position: fixed;
    z-index: 99991;
    align-items: center;
    justify-content: space-evenly;
    top: 60px;
    right: -100%;
    width: 100%;
    bottom: 0;
    background-color: white;
  }
  .my-menu.show-menu {
    right: 0;
    opacity: 0.9;
  }
  .my-menu li a.link-menu {
    color: #8a2be2;
    font-weight: bold;
  }
  .my-menu li a.link-menu::after {
    content: "";
    display: block;
    width: 0;
    height: 3px;
    margin: 0 auto;
    background-color: #8a2be2;
    transition: 0.2s linear;
  }
  .my-menu li a.link-menu:hover::after, .my-menu li a.link-menu.active::after {
    width: 100%;
  }
  .hamburger-menu {
    display: flex;
  }
  section.introduction .first-row {
    flex-direction: column-reverse;
  }
  section#about .tab-about {
    display: block !important;
  }
  section#about .tab-about .nav-tabs {
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
  }
  section#about .tab-about .nav-tabs::-webkit-scrollbar {
    /* WebKit */
    width: 0;
    height: 0;
    display: none;
  }
  section#about .row.right-image > *,
section#about .row.left-image > * {
    margin: 10px 0;
  }
  section#about .row.right-image,
section#about .row.left-image {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 569px) {
  .my-menu {
    padding: 0 12px;
  }
  .my-nav {
    justify-content: space-between;
  }
  .my-menu {
    flex-wrap: nowrap;
  }
  section.introduction::before {
    background-position-x: 90%;
  }
}
.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 1;
  background-color: #eee;
  z-index: 999999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader.close {
  opacity: 0;
  transition: 0.5s;
  z-index: -99999;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #8a2be2;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
* {
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #eee;
}

/*# sourceMappingURL=style.css.map */
