@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
.my-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #8a2be2;
  height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99992;
}
.my-nav a.logo,
.my-nav ul > li > a {
  text-decoration: none;
}
.my-nav li a {
  color: #bbbbbb;
}
.my-nav li a.active,
.my-nav li a:hover {
  color: white;
  font-weight: 500;
}

a.logo {
  font-size: 25px;
  color: white;
}

.my-menu {
  display: flex;
  list-style-type: none;
  width: 50%;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.hamburger-menu {
  display: none;
  width: 30px;
  height: 30px;
  justify-content: space-around;
  flex-direction: column;
  cursor: pointer;
}
.hamburger-menu span {
  display: block;
  background-color: white;
  height: 4px;
  transition: 0.5s ease-in;
  border-radius: 5px;
}
.hamburger-menu.show-menu span:nth-child(1) {
  transform: rotate(45deg) translate(0.5px, 16px);
}
.hamburger-menu.show-menu span:nth-child(2) {
  opacity: 0;
}
.hamburger-menu.show-menu span:nth-child(3) {
  transform: rotate(-45deg) translate(-1.5px, -14px);
}

section {
  scroll-margin-top: 80px;
}
section.violet {
  background-color: #8a2be2;
  color: white;
}
section span.line-mark-title {
  position: relative;
  font-weight: 500;
}
section span.line-mark-title::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  left: 0;
  bottom: -5px;
  height: 3px;
  border-radius: 3px;
  background-color: #8a2be2;
}
section span.mark-title {
  color: #8a2be2;
}
section.violet span.line-mark-title::after {
  background-color: white !important;
}
section.introduction {
  height: calc(100vh - 60px);
  margin-top: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
section.introduction img {
  width: calc(100vw / 10 + 100px);
  height: calc(100vw / 10 + 100px);
}
section.introduction .col:nth-child(1) {
  font-size: calc(3vw + 8px);
}
section.introduction .col:nth-child(1) .text-typed {
  font-weight: bold;
  color: black;
  text-shadow: -1px 1px 0 white, 1px 1px 0 white, 1px -1px 0 white, -1px -1px 0 white;
}
section#about .value-about {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}
section#about .row.right-image {
  flex-direction: row-reverse;
}
section#experience .row {
  max-height: 100vh;
  overflow: auto;
  justify-content: center;
}
section#experience .row .card {
  color: black !important;
}

@media (max-width: 768px) {
  .my-backdrop {
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: -9999;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: 0.5s ease-in;
  }
  .my-backdrop.show-menu {
    opacity: 1;
    z-index: 9999;
  }

  .my-nav {
    justify-content: space-around;
  }

  .my-menu {
    transition: 0.5s ease-in;
    flex-direction: column;
    position: fixed;
    z-index: 99991;
    align-items: center;
    justify-content: space-evenly;
    top: 60px;
    left: -50%;
    width: 50%;
    bottom: 0;
    border-right: 2px solid #8a2be2;
    background-color: #8a2be2;
  }
  .my-menu.show-menu {
    left: 0;
  }

  .hamburger-menu {
    display: flex;
  }

  section.introduction .first-row {
    flex-direction: column-reverse;
  }
  section#about .row.right-image {
    flex-direction: column;
    align-items: center;
  }
  section#about .row.left-image {
    justify-content: center;
  }
}
@media (max-width: 569px) {
  .my-nav,
.my-menu {
    padding: 0 12px;
  }

  .my-nav {
    justify-content: space-between;
  }

  .my-menu {
    align-items: flex-start;
  }

  section#experience .row {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
}
* {
  font-family: "Montserrat", sans-serif;
}

/*# sourceMappingURL=style.css.map */
